@{
    string nome = "";
    if (Session["usuario"] != null)
    {
        ProjetoRole.Models.CAUsuario usuario = (ProjetoRole.Models.CAUsuario)Session["usuario"];
        nome = usuario.apelido;
    }
    else
    {
        nome = "visitante";
    }
}
@if (Session["usuario"] != null)
{
    using (Html.BeginForm("LogOff", "CAUsuarios", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + nome + "!", "MeusDados", "CAUsuarios", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
          
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registre-se", "Create", "CAUsuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Entrar!", "Login", "CAUsuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}